 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    color: white;
}
body {
    background-image: linear-gradient( hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.score-container {
    background-color: white;
    width: 120px;
    height: 90px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-container span {
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
}
.score {
    color: hsl(217, 16%, 45%);
    font-weight: 600;
    font-size: 50px;
}
.header {
    border: solid 3px hsl(217, 16%, 45%);
    width: 40vw;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}